<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
      <div id="gameboard"></div>
      <div id="sidebar-outer">
        <div id="sidebar-inner">
          <div id="level"></div>
          <div id="score"></div>
          <div id="preview-title">Next Piece:</div>
          <div id="preview"></div>
        </div>
      </div>
    </div>
  </body>
</html>
