body {
	margin: 0px;
	background-color: #333333;
	padding: 0px;
}

div.center {
	margin: 10px auto 0px auto;
	text-align: center;
}

div#container {
	/*position: relative;*/
  margin: 10px auto 0px auto;
  width: 500px;
}
